.autogit
build/*
bin/UbiquitousPerception
build/cmake_install.cmake
build/CMakeCache.txt
build/install_manifest.txt
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.17.0/CMakeCCompiler.cmake
build/CMakeFiles/3.17.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.0/CMakeSystem.cmake
build/CMakeFiles/3.17.0/CompilerIdC/a.out
build/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.0/CompilerIdCXX/a.out
build/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/bin/AlgLog.properties
build/bin/run.sh
build/bin/UbiquitousPerception
build/bin/3rdparty/liblog4cxx.so
build/bin/3rdparty/liblog4cxx.so.10
build/bin/3rdparty/liblog4cxx.so.10.0.0
build/bin/3rdparty/liblog4cxx.la
build/bin/config/config.json
build/bin/doc/readme.md
build/src/cmake_install.cmake
build/src/Makefile
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/progress.marks
build/src/main/cmake_install.cmake
build/src/main/Makefile
build/src/main/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/main/CMakeFiles/progress.marks
build/src/main/CMakeFiles/UbiquitousPerception.dir/build.make
build/src/main/CMakeFiles/UbiquitousPerception.dir/cmake_clean.cmake
build/src/main/CMakeFiles/UbiquitousPerception.dir/CXX.includecache
build/src/main/CMakeFiles/UbiquitousPerception.dir/depend.internal
build/src/main/CMakeFiles/UbiquitousPerception.dir/depend.make
build/src/main/CMakeFiles/UbiquitousPerception.dir/DependInfo.cmake
build/src/main/CMakeFiles/UbiquitousPerception.dir/flags.make
build/src/main/CMakeFiles/UbiquitousPerception.dir/link.txt
build/src/main/CMakeFiles/UbiquitousPerception.dir/main.cpp.o
build/src/main/CMakeFiles/UbiquitousPerception.dir/progress.make
build/src/main/CMakeFiles/UbiquitousPerception.dir/TestAlg/test.cpp.o
build/src/main/CMakeFiles/UbiquitousPerception.dir/__/common/cmmobj/log4cxx/Loging.cpp.o
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/3.11.2/CMakeCCompiler.cmake
build/CMakeFiles/3.11.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.11.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.11.2/CMakeSystem.cmake
build/CMakeFiles/3.11.2/CompilerIdC/a.out
build/CMakeFiles/3.11.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.11.2/CompilerIdCXX/a.out
build/CMakeFiles/3.11.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/CMakeTmp/CMakeLists.txt
build/CMakeFiles/CMakeTmp/Makefile
build/CMakeFiles/CMakeTmp/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeTmp/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeTmp/CMakeFiles/Makefile.cmake
build/CMakeFiles/CMakeTmp/CMakeFiles/Makefile2
build/CMakeFiles/CMakeTmp/CMakeFiles/progress.marks
build/CMakeFiles/CMakeTmp/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_0bf1f.dir/build.make
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_0bf1f.dir/cmake_clean.cmake
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_0bf1f.dir/CMakeCXXCompilerABI.cpp.o
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_0bf1f.dir/depend.make
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_0bf1f.dir/DependInfo.cmake
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_0bf1f.dir/flags.make
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_0bf1f.dir/link.txt
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_0bf1f.dir/progress.make
build/CMakeFiles/CMakeTmp/cmake_install.cmake
build/CMakeFiles/CMakeTmp/CMakeCache.txt
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/3.11.2/CMakeDetermineCompilerABI_CXX.bin
build/bin
build/bin/3rdparty/libapr-1.so
build/bin/3rdparty/libapr-1.so.0
build/bin/3rdparty/libapr-1.so.0.6.5
build/bin/3rdparty/libaprutil-1.so
build/bin/3rdparty/libaprutil-1.so.0
build/bin/3rdparty/libaprutil-1.so.0.6.1
build/bin/3rdparty/libboost_atomic.so
build/bin/3rdparty/libboost_atomic.so.1.66.0
build/bin/3rdparty/libboost_chrono.so
build/bin/3rdparty/libboost_chrono.so.1.66.0
build/bin/3rdparty/libboost_container.so
build/bin/3rdparty/libboost_container.so.1.66.0
build/bin/3rdparty/libboost_context.so
build/bin/3rdparty/libboost_context.so.1.66.0
build/bin/3rdparty/libboost_coroutine.so
build/bin/3rdparty/libboost_coroutine.so.1.66.0
build/bin/3rdparty/libboost_date_time.so
build/bin/3rdparty/libboost_date_time.so.1.66.0
build/bin/3rdparty/libboost_fiber.so
build/bin/3rdparty/libboost_fiber.so.1.66.0
build/bin/3rdparty/libboost_filesystem.so
build/bin/3rdparty/libboost_filesystem.so.1.66.0
build/bin/3rdparty/libboost_graph.so
build/bin/3rdparty/libboost_graph.so.1.66.0
build/bin/3rdparty/libboost_iostreams.so
build/bin/3rdparty/libboost_iostreams.so.1.66.0
build/bin/3rdparty/libboost_locale.so
build/bin/3rdparty/libboost_locale.so.1.66.0
build/bin/3rdparty/libboost_log_setup.so
build/bin/3rdparty/libboost_log_setup.so.1.66.0
build/bin/3rdparty/libboost_log.so
build/bin/3rdparty/libboost_log.so.1.66.0
build/bin/3rdparty/libboost_math_c99.so
build/bin/3rdparty/libboost_math_c99.so.1.66.0
build/bin/3rdparty/libboost_math_c99f.so
build/bin/3rdparty/libboost_math_c99f.so.1.66.0
build/bin/3rdparty/libboost_math_c99l.so
build/bin/3rdparty/libboost_math_c99l.so.1.66.0
build/bin/3rdparty/libboost_math_tr1.so
build/bin/3rdparty/libboost_math_tr1.so.1.66.0
build/bin/3rdparty/libboost_math_tr1f.so
build/bin/3rdparty/libboost_math_tr1f.so.1.66.0
build/bin/3rdparty/libboost_math_tr1l.so
build/bin/3rdparty/libboost_math_tr1l.so.1.66.0
build/bin/3rdparty/libboost_prg_exec_monitor.so
build/bin/3rdparty/libboost_prg_exec_monitor.so.1.66.0
build/bin/3rdparty/libboost_program_options.so
build/bin/3rdparty/libboost_program_options.so.1.66.0
build/bin/3rdparty/libboost_random.so
build/bin/3rdparty/libboost_random.so.1.66.0
build/bin/3rdparty/libboost_regex.so
build/bin/3rdparty/libboost_regex.so.1.66.0
build/bin/3rdparty/libboost_serialization.so
build/bin/3rdparty/libboost_serialization.so.1.66.0
build/bin/3rdparty/libboost_signals.so
build/bin/3rdparty/libboost_signals.so.1.66.0
build/bin/3rdparty/libboost_stacktrace_addr2line.so
build/bin/3rdparty/libboost_stacktrace_addr2line.so.1.66.0
build/bin/3rdparty/libboost_stacktrace_basic.so
build/bin/3rdparty/libboost_stacktrace_basic.so.1.66.0
build/bin/3rdparty/libboost_stacktrace_noop.so
build/bin/3rdparty/libboost_stacktrace_noop.so.1.66.0
build/bin/3rdparty/libboost_system.so
build/bin/3rdparty/libboost_system.so.1.66.0
build/bin/3rdparty/libboost_thread.so
build/bin/3rdparty/libboost_thread.so.1.66.0
build/bin/3rdparty/libboost_timer.so
build/bin/3rdparty/libboost_timer.so.1.66.0
build/bin/3rdparty/libboost_type_erasure.so
build/bin/3rdparty/libboost_type_erasure.so.1.66.0
build/bin/3rdparty/libboost_unit_test_framework.so
build/bin/3rdparty/libboost_unit_test_framework.so.1.66.0
build/bin/3rdparty/libboost_wave.so
build/bin/3rdparty/libboost_wave.so.1.66.0
build/bin/3rdparty/libboost_wserialization.so
build/bin/3rdparty/libboost_wserialization.so.1.66.0
build/bin/3rdparty/libcrypto.so
build/bin/3rdparty/libcrypto.so.1.0.0
build/bin/3rdparty/libcurl.so
build/bin/3rdparty/libcurl.so.4
build/bin/3rdparty/libcurl.so.4.6.0
build/bin/3rdparty/libexpat.so
build/bin/3rdparty/libexpat.so.1
build/bin/3rdparty/libexpat.so.1.6.6
build/bin/3rdparty/libltdl.so
build/bin/3rdparty/libltdl.so.7
build/bin/3rdparty/libltdl.so.7.2.1
build/bin/3rdparty/libltdl.so.7.3.0
build/bin/3rdparty/libltdl.so.7.3.1
build/bin/3rdparty/libopencv_calib3d.so
build/bin/3rdparty/libopencv_calib3d.so.4.3
build/bin/3rdparty/libopencv_calib3d.so.4.3.0
build/bin/3rdparty/libopencv_core.so
build/bin/3rdparty/libopencv_core.so.4.3
build/bin/3rdparty/libopencv_core.so.4.3.0
build/bin/3rdparty/libopencv_dnn.so
build/bin/3rdparty/libopencv_dnn.so.4.3
build/bin/3rdparty/libopencv_dnn.so.4.3.0
build/bin/3rdparty/libopencv_features2d.so
build/bin/3rdparty/libopencv_features2d.so.4.3
build/bin/3rdparty/libopencv_features2d.so.4.3.0
build/bin/3rdparty/libopencv_flann.so
build/bin/3rdparty/libopencv_flann.so.4.3
build/bin/3rdparty/libopencv_flann.so.4.3.0
build/bin/3rdparty/libopencv_gapi.so
build/bin/3rdparty/libopencv_gapi.so.4.3
build/bin/3rdparty/libopencv_gapi.so.4.3.0
build/bin/3rdparty/libopencv_highgui.so
build/bin/3rdparty/libopencv_highgui.so.4.3
build/bin/3rdparty/libopencv_highgui.so.4.3.0
build/bin/3rdparty/libopencv_imgcodecs.so
build/bin/3rdparty/libopencv_imgcodecs.so.4.3
build/bin/3rdparty/libopencv_imgcodecs.so.4.3.0
build/bin/3rdparty/libopencv_imgproc.so
build/bin/3rdparty/libopencv_imgproc.so.4.3
build/bin/3rdparty/libopencv_imgproc.so.4.3.0
build/bin/3rdparty/libopencv_ml.so
build/bin/3rdparty/libopencv_ml.so.4.3
build/bin/3rdparty/libopencv_ml.so.4.3.0
build/bin/3rdparty/libopencv_objdetect.so
build/bin/3rdparty/libopencv_objdetect.so.4.3
build/bin/3rdparty/libopencv_objdetect.so.4.3.0
build/bin/3rdparty/libopencv_photo.so
build/bin/3rdparty/libopencv_photo.so.4.3
build/bin/3rdparty/libopencv_photo.so.4.3.0
build/bin/3rdparty/libopencv_stitching.so
build/bin/3rdparty/libopencv_stitching.so.4.3
build/bin/3rdparty/libopencv_stitching.so.4.3.0
build/bin/3rdparty/libopencv_video.so
build/bin/3rdparty/libopencv_video.so.4.3
build/bin/3rdparty/libopencv_video.so.4.3.0
build/bin/3rdparty/libopencv_videoio.so
build/bin/3rdparty/libopencv_videoio.so.4.3
build/bin/3rdparty/libopencv_videoio.so.4.3.0
build/bin/3rdparty/libprotobuf-lite.so
build/bin/3rdparty/libprotobuf-lite.so.23
build/bin/3rdparty/libprotobuf-lite.so.23.0.2
build/bin/3rdparty/libprotobuf.so
build/bin/3rdparty/libprotobuf.so.23
build/bin/3rdparty/libprotobuf.so.23.0.2
build/bin/3rdparty/libprotoc.so
build/bin/3rdparty/libprotoc.so.23
build/bin/3rdparty/libprotoc.so.23.0.2
build/bin/3rdparty/libssl.so
build/bin/3rdparty/libssl.so.1.0.0
build/bin/3rdparty/libthrift-0.13.0.so
build/bin/3rdparty/libthrift.so
build/bin/3rdparty/libthriftz-0.13.0.so
build/bin/3rdparty/libuuid.la
build/bin/3rdparty/libuuid.so
build/bin/3rdparty/libuuid.so.1
build/bin/3rdparty/libuuid.so.1.0.0
build/bin/3rdparty/libz.so
build/bin/3rdparty/libz.so.1
build/bin/3rdparty/libz.so.1.2.11
3rdparty/pkgconfig/apr-1.pc
3rdparty/pkgconfig/apr-util-1.pc
3rdparty/pkgconfig/expat.pc
3rdparty/pkgconfig/libcrypto.pc
3rdparty/pkgconfig/libcurl.pc
3rdparty/pkgconfig/liblog4cxx.pc
3rdparty/pkgconfig/libssl.pc
3rdparty/pkgconfig/opencv4.pc
3rdparty/pkgconfig/openssl.pc
3rdparty/pkgconfig/protobuf-lite.pc
3rdparty/pkgconfig/protobuf.pc
3rdparty/pkgconfig/thrift.pc
3rdparty/pkgconfig/uuid.pc
3rdparty/pkgconfig/zlib.pc
3rdparty/pkgconfig/apr-1.pc
3rdparty/pkgconfig/apr-util-1.pc
3rdparty/pkgconfig/expat.pc
3rdparty/pkgconfig/libcrypto.pc
3rdparty/pkgconfig/libcurl.pc
3rdparty/pkgconfig/liblog4cxx.pc
3rdparty/pkgconfig/libssl.pc
3rdparty/pkgconfig/opencv4.pc
3rdparty/pkgconfig/openssl.pc
3rdparty/pkgconfig/protobuf-lite.pc
3rdparty/pkgconfig/protobuf.pc
3rdparty/pkgconfig/thrift.pc
3rdparty/pkgconfig/uuid.pc
3rdparty/pkgconfig/zlib.pc
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_7cb4d.dir/build.make.tmp
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_7cb4d.dir/cmake_clean.cmake
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_7cb4d.dir/depend.make
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_7cb4d.dir/flags.make.tmp
build/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_7cb4d.dir/link.txt
bin/lib/libredisservice.a
bin/lib/librpcservice.a
bin/lib/libtcpservice.a
bin/lib/libserialservice.a
bin/lib/libhttpservice.a
bin/lib/libvideoservice.a
bin/lib/libDetectYolo.a
bin/lib/libDetectYolo.so
bin/lib/libDetectYolo.so.1
bin/lib/libDetectYolo.so.1.0
bin/lib/libDetectSsd.a
bin/lib/libDetectSsd.so
bin/lib/libDetectSsd.so.1
bin/lib/libDetectSsd.so.1.0
3rdparty/pkgconfig/boost.pc
3rdparty/pkgconfig/ffmpeg.pc
3rdparty/pkgconfig/hiredis.pc
3rdparty/pkgconfig/live555.pc
3rdparty/pkgconfig/log4cxx.pc
3rdparty/pkgconfig/muduo.pc
3rdparty/pkgconfig/opencv.pc
3rdparty/pkgconfig/rknn.pc
3rdparty/pkgconfig/thrift.pc
bin/pkgconfig/gen_share_pkg.pc
bin/pkgconfig/gen_static_pkg.pc
